{% extends "base.html" %}
{% block content %}

<h2>Canceled orders</h2>
<ul>
    {% for order in object_list %}
    <li>
        Order #{{ order.id }} from {{ order.customer_name }}
        <ul>
            {% for item in order.items.all %}
            <li>
                Товар: {{ item.product.name }}
                Количество: {{ item.quantity }}
                Цена за единицу: {{ item.price }}
                Общая стоимость: {{ item.get_total_price }}
                SKU: {{ item.order_sku }}
            </li>
            {% endfor %}
        </ul>
        <form method="post" action="{% url 'orders:return_order_to_processing' order_id=order.id %}">
            {% csrf_token %}
            <button type="submit">Restore order</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
