{% extends "base.html" %}
{% block title %}Заказ #{{ order.id }}{% endblock %}

{% block content %}
    <h1>Заказ #{{ order.id }}</h1>

    <p><strong>Имя клиента:</strong> {{ order.customer_name }}</p>
    <p><strong>Email клиента:</strong> {{ order.customer_email }}</p>
    <p><strong>Телефон клиента:</strong> {{ order.customer_phone }}</p>
<h3>История статусов заказа:</h3>
<ul>
    {% for status_record in status_history %}
        <li>{{ status_record.timestamp }}: {{ status_record.status }}</li>
    {% endfor %}
</ul>


    <br>


    <h2>Товары в заказе:</h2>
    <table>
        <thead>
            <tr>
                <th>Наименование товара</th>
                            <th>SKU</th> <!-- Новый заголовок столбца для SKU -->
                <th>Количество</th>
                <th>Цена за единицу</th>
                <th>Общая стоимость</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                                    <td>{{ item.order_sku }}</td> <!-- Отображение SKU товара -->
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
