{% extends "ForMainWepSite/base.html" %}
{% block title %}Заказ #{{ order.id }}{% endblock %}

{% block content %}
    <h1>Заказ #{{ order.id }}</h1>

    <p><strong>Имя клиента:</strong> {{ order.customer_name }}</p>
    <p><strong>Email клиента:</strong> {{ order.customer_email }}</p>
    <p><strong>Телефон клиента:</strong> {{ order.customer_phone }}</p>

    <!-- Добавляем новую информацию о заказе -->
    <p><strong>Адрес:</strong></p>
    <ul>
        <li><strong>Улица:</strong> {{ order.address_line1 }}</li>
        <li><strong>Дом/Квартира:</strong> {{ order.address_line2 }}</li>
        <li><strong>Город:</strong> {{ order.city }}</li>
        <li><strong>Область/Штат:</strong> {{ order.state }}</li>
        <li><strong>Страна:</strong> {{ order.country }}</li>
        <li><strong>Почтовый индекс:</strong> {{ order.postal_code }}</li>
    </ul>
    <p><strong>Дополнительная информация:</strong> {{ order.additional_info }}</p>

    <h3>История статусов заказа:</h3>
    <ul>
        {% for status_record in status_history %}
            <li>{{ status_record.timestamp }}: {{ status_record.status }}</li>
        {% endfor %}
    </ul>

    <h2>Товары в заказе:</h2>
    <table>
    <thead>
        <tr>
            <th>Наименование товара</th>
            <th>SKU</th>
            <th>Номер продукта</th>  <!-- добавлено -->
            <th>Тип упаковки</th>  <!-- добавлено -->
            <th>Размер</th>  <!-- добавлено -->
            <th>Количество</th>
            <th>Цена за единицу</th>
            <th>Общая стоимость</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.order_sku }}</td>
                <td>{{ item.product_number }}</td>  <!-- добавлено -->
                <td>{{ item.package_type }}</td>  <!-- добавлено -->
                <td>{{ item.size }}</td>  <!-- добавлено -->
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price }}</td>
                <td>{{ item.total }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

        <h3>Общая сумма заказа: {{ total_amount }} $</h3>

{% endblock %}
