{% extends "base.html" %}
{% block content %}
<h2>Редактировать товар в заказе</h2>

<form method="post">
{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}

    {% csrf_token %}

    {{ form.order }} {# Скрытое поле заказа #}

    <div class="form-group">
        <label for="product">Товар:</label>
        {{ form.product }} {# Скрытое поле продукта #}
        <input type="text" value="{{ order_item.product.name }}" readonly>
    </div>

    <div class="form-group">
        <label for="quantity">Количество:</label>
        {{ form.quantity }}
    </div>

    <div class="form-group">
        <label for="price">Цена:</label>
        {{ form.price }}
    </div>

    <div class="form-group">
        <label for="{{ form.order_sku.id_for_label }}">Order SKU:</label>
        {{ form.order_sku }}
    </div>

    <button type="submit">Обновить</button>
</form>

<h3>Удалить товар из заказа</h3>
<form method="post" action="{% url 'orders:delete_order_item' order_item.id %}">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить этот товар из заказа?');">Удалить товар</button>
</form>
{% endblock %}

