{% extends "ForMainWepSite/base.html" %}

{% block content %}
<h1>Список заказов для обработки</h1>
    {% if request.user.warehousesupervisor %}
    <a href="{% url 'orders:warehouse_order_list'%}" class="btn btn-success">back My list</a>
        <a href="{% url 'orders:canceled_order_list'%}" class="btn btn-primary">canceled list</a>
    {% endif %}
    {% if request.user.operationalmanager %}
    <a href="{% url 'orders:own_operator_order_list'%}" class="btn btn-success">My list</a>
        <a href="{% url 'orders:canceled_order_list'%}" class="btn btn-primary">canceled list</a>
    {% endif %}



<table>
    <thead>
        <tr>
            <th>ID заказа</th>
            <th>Имя клиента</th>
            <th>Email клиента</th>
            <th>Телефон клиента</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>

        {% for order in object_list %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.customer_name }}</td>
            <td>{{ order.customer_email }}</td>
            <td>{{ order.customer_phone }}</td>
            <td>
                <a href="{% url 'orders:take_order' order.id %}" class="btn-success">Take order</a>
            </td>
        </tr>



        {% endfor %}

    </tbody>
</table>

<br>

<h2>Статус грузовиков водителей:</h2>
<ul>
    {% for driver in all_drivers %}
        <li>
            {{ driver.user.username }} -
            {% if driver.truck_fully_loaded %}
                <span class="label-success">Грузовик полностью загружен</span>
            {% else %}
                <span class="label-warning">Грузовик не загружен</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>


{% endblock %}
