{% extends "base.html" %}

{% block content %}
<h1>List of orders for processing</h1>

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Имя клиента</th>
            <th>Email клиента</th>
            <th>Телефон клиента</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for order in object_list %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.customer_name }}</td>
            <td>{{ order.customer_email }}</td>
            <td>{{ order.customer_phone }}</td>
            <td>
                <a href="{% url 'orders:release_order' order.id %}" class="btn-danger">back to new order list</a>
                <a href="{% url 'orders:pass_order_to_driver' order.id %}" class="btn-success">transfer to driver</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
