{% extends "base.html" %}

{% block content %}
<h1>Own Supervisor Orders</h1>
    {% if request.user.driver %}
    <a href="{% url 'orders:own_driver_order_list'%}" class="btn btn-success">back My list</a>
    {% endif %}

    {% if request.user.warehousesupervisor %}
    <a href="{% url 'orders:canceled_order_list'%}" class="btn btn-primary">canceled list</a>
    <a href="{% url 'orders:operator_order_list'%}" class="btn btn-primary">new order list</a>
    {% endif %}


{% if request.user.president or request.user.operationalmanager or request.user.accountsreceivablemanager or request.user.accountsreceivable or request.user.accountspayable %}
    <a href="{% url 'orders:canceled_order_list'%}" class="btn btn-primary">canceled list</a>
    <a href="{% url 'orders:own_operator_order_list'%}" class="btn btn-success">My Own list</a>
    <a href="{% url 'orders:operator_order_list'%}" class="btn btn-primary">new order list</a>
    <a href="{% url 'orders:warehouse_order_list'%}" class="btn btn-primary">warehouse list</a>
    <a href="/warehouse_orders/#drivers-list" class="btn btn-primary">driver order list</a>
    <a href="{% url 'orders:operator_create_order'%}" class="btn btn-info">create new order</a>
    {% endif %}

    <br>
    <br>

<table>

    <tbody>
    {% for order in orders %}
    <div>
    <h2>Order #{{ order.id }}</h2>
    <p>Status: {{ order.get_status_display }}</p>
        {% if request.user.president or request.user.operationalmanager or request.user.accountsreceivablemanager or request.user.accountsreceivable or request.user.accountspayable %}
    <a href="{% url 'orders:take_order' order.id %}" class="btn-danger">Take order back</a>
    {% endif %}
        <a href="{% url 'orders:warehouse_order_detail' order.id %}" class="btn-success" >View order details</a>


  </div>
        <br>
        {% endfor %}

    </tbody>





</table>
<h2 id="drivers-list">Список водителей</h2>
<ul>
    {% for driver in drivers %}
    <li>
        <a href="{% url 'orders:driver_order' driver.id %} " class="btn btn-primary">{{ driver.user.username }}</a>
    </li>
    {% endfor %}
</ul>





{% endblock %}











