
{% extends "ForMainWepSite/base.html" %}
{% block title %}Заказ #{{ order.id }}{% endblock %}


{% block content %}
    <h1>Заказ #{{ order.id }}</h1>

    {% if request.user.president or request.user.operationalmanager or request.user.accountsreceivablemanager or request.user.accountsreceivable or request.user.accountspayable %}
    <a href="{% url 'orders:warehouse_order_list'%}" class="btn btn-primary">warehouse list</a>
    {% endif %}

    {% if request.user.warehousesupervisor %}
    <a href="{% url 'orders:warehouse_order_list'%}" class="btn btn-success">back MY list</a>
    {% endif %}

    <p><strong>Имя клиента:</strong> {{ order.customer_name }}</p>
    <p><strong>Email клиента:</strong> {{ order.customer_email }}</p>
    <p><strong>Телефон клиента:</strong> {{ order.customer_phone }}</p>

     <p><strong>Адрес:</strong></p>
    <ul>
        <li><strong>Улица:</strong> {{ order.address_line1 }}</li>
        <li><strong>Дом/Квартира:</strong> {{ order.address_line2 }}</li>
        <li><strong>Город:</strong> {{ order.city }}</li>
        <li><strong>Область/Штат:</strong> {{ order.state }}</li>
        <li><strong>Страна:</strong> {{ order.country }}</li>
        <li><strong>Почтовый индекс:</strong> {{ order.postal_code }}</li>
    </ul>
    <p><strong>Дополнительная информация:</strong> {{ order.additional_info }}</p>




    <p>Статус: {{ order.get_status_display }}</p>

<div class="row">

{#    {% if order.status == "OperatorReview" %}#}
{#    {% endif %}#}

    {% if request.user.president or request.user.operationalmanager or request.user.accountsreceivablemanager or request.user.accountsreceivable or request.user.accountspayable %}
    <div>
        <a href="{% url 'orders:edit_order_address' order.id 'warehouse' %}" class="btn-warning">Edit address</a>
    </div>

        <div class="col-md-2">
        <form method="post" action="{% url 'orders:cancel_order' order.id %}">
            {% csrf_token %}
            <input type="submit" class="btn-danger" value="Отменить заказ">
        </form>
    </div>


        <div class="col-md-2">
        <form method="post" action="{% url 'orders:edit_order_call_add_product' order.id 'warehouse' %}">
            {% csrf_token %}
            <button type="submit" class="btn-info">Добавить товар</button>
        </form>
    </div>
    {% endif %}


</div>


    <h2>Товары в заказе:</h2>
    <table>
        <thead>
            <tr>
            <th>Наименование товара</th>
            <th>SKU</th>
            <th>Номер продукта</th>  <!-- добавлено -->
            <th>Тип упаковки</th>  <!-- добавлено -->
            <th>Размер</th>  <!-- добавлено -->
            <th>Количество</th>
            <th>Цена за единицу</th>
            <th>Общая стоимость</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.order_sku }}</td>
                <td>{{ item.product_number }}</td>  <!-- добавлено -->
                <td>{{ item.package_type }}</td>  <!-- добавлено -->
                <td>{{ item.size }}</td>  <!-- добавлено -->
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price }}</td>
                <td>{{ item.total }}</td>
                    {% if request.user.president or request.user.operationalmanager or request.user.accountsreceivablemanager or request.user.accountsreceivable or request.user.accountspayable %}
                        <td>

                        <form method="post" action="{% url 'orders:delete_order_item' order_id=item.id %}" style="display: inline;">
                {% csrf_token %}
                <input type="submit" value="Delete" class="btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">
            </form>
                        <a href="{% url 'orders:edit_order_item' order_id=item.id source='warehouse' %}" class="btn-warning">Edit</a>

                        </td>
                    {% endif %}


                </tr>
            {% endfor %}

        </tbody>

    </table>
    <h3>Общая сумма заказа: {{ total_amount }} $</h3>



                {% if request.user.warehousesupervisor or request.user.operationalmanager %}
<div>
    <h3>Assign Driver:</h3>
<form method="post">
    {% csrf_token %}
    <select name="driver">
        {% for driver in drivers %}
        <option value="{{ driver.id }}">{{ driver.user.username }}</option>
        {% endfor %}
    </select>
    <button type="submit">Assign Driver</button>
</form>
</div>
            {% endif %}


{% endblock %}
