{% extends 'ForMainWepSite/base.html' %}

{% block content %}
    <h1>Company Representatives List</h1>
    <ul>
        {% for representative in representatives %}
        <li>
            {{ representative.name }} - {{ representative.phone_number }} - {{ representative.email }}
            <a href="{% url 'custom_users:representative_edit' representative.id %}">Edit</a>
            <a href="{% url 'custom_users:representative_delete' representative.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'custom_users:representative_add' %}">Add New Representative</a>

{% endblock %}

