<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Подключение jQuery (если у вас ещё не подключено) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Подключение CSS файла для Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<!-- Подключение JS файла для Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


    <!-- Подключаем ваш собственный CSS файл после Bootstrap -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


    <title>{% block title %}Магазин{% endblock %}</title>
</head>
<body>
    <div>
        <header>
            <div>
        <p>Logged in as: {{ user.username }}</p>
        {% if user.is_authenticated %}
        {% endif %}
    </div>
        </header>

        <main>
            $
        </main>

        <footer>
            $
        </footer>




        {% block content %}


        {% endblock %}
    </div>

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


</body>
</html>

