{% load static %} <!-- Загружаем статические файлы, такие как CSS из папки 'static'. -->

<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключаем стили Bootstrap для оформления страницы. -->

    <title>{% block title %}Магазин{% endblock %}</title>
    <!-- Устанавливаем заголовок страницы, который может быть переопределен в дочерних шаблонах. -->

<body>
    <div>
        {% block content %}
        <!-- Открываем блок для контента страницы, который будет определен в дочерних шаблонах. -->
        {% endblock %}
        <!-- Закрываем блок контента. -->
    </div>
</body>
</html>


