{% extends "base.html" %} <!-- Расширение базового шаблона -->

{% block content %} <!-- Определение блока контента страницы -->
    <h1>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Client Level</h1>
    <!-- Заголовок страницы, который меняется в зависимости от того, создается новый уровень или редактируется существующий -->

    <form method="post"> <!-- Форма для создания или редактирования уровня клиента с использованием HTTP-метода POST -->
        {% csrf_token %} <!-- Вставка CSRF-токена для безопасности формы -->
        {{ form.as_p }} <!-- Отображение формы с полями ввода, созданными на основе модели данных -->
        <button type="submit">Save</button> <!-- Кнопка "Сохранить" для сохранения изменений или создания нового уровня клиента -->
    </form>

{% endblock %} <!-- Завершение блока контента страницы -->

