{% extends "base.html" %}  {# Наследование базового шаблона #}

{% block title %}{{ product.name }}{% endblock %}  {# Устанавливаем заголовок страницы на основе имени продукта #}

{% block content %}  {# Начало блока содержимого страницы #}

{# Проверка на наличие продукта #}
{% if product %}
    <div class="product-detail container my-5">
        <div class="row">
            <div class="col-md-6">
                {# Отображение главного изображения продукта #}
                <img src="{{ main_image.url }}" alt="{{ product.name }}" width="500" height="500" class="product-image mb-4">

                {# Отображение дополнительных изображений продукта #}
                <div class="additional-images d-flex">
                    {% for image in additional_images %}
                        <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" width="100" height="100" class="mr-2">
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-info">
                    <h1>{{ product.name }}</h1>
                    <p>brand: {{ product.brand }}</p>
                    <p>Price: {{ product.price }}</p>
                    <p>SKU: {{ product.sku }}</p>
                    <p>Stock: {{ product.stock_quantity }}</p>

                    {# Форма для добавления продукта в корзину #}
                    <form method="post" action="{% url 'MainWepSite:add_to_cart' product.id %}">
                        {% csrf_token %}
                        <select name="product_variant">
                            {# Отображение вариантов продукта в выпадающем списке #}
                            {% for variant in product.variants.all %}
                                <option value="{{ variant.id }}">
                                    {{ variant }} - Price: {{ variant.price }}
                                </option>
                            {% endfor %}
                        </select>
                        <input type="number" name="quantity" value="1" min="1" max="{{ product.stock_quantity }}">
                        <button type="submit">buy</button>
                    </form>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                {# Отображение описания продукта #}
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>
{% else %}
    <p>Изображение отсутствует</p>  {# Сообщение, отображаемое, если продукт отсутствует #}
{% endif %}

{% endblock %}  {# Конец блока содержимого страницы #}

