{% extends "ForMainWepSite/base.html" %}

{% block content %}

    <form method="post">
    {% csrf_token %}
    <h2>Регистрация</h2>
    {{ user_form.as_p }}
    <input type="submit" value="Зарегистрироваться">


    <label for="role">Выберите роль:</label>
    <select name="role">
        <option value="president">Президент</option>
        <option value="operational_manager">Операционный менеджер</option>
        <option value="accounts_receivable_manager">Менеджер по сбору средств</option>
        <option value="accounts_receivable">Сотрудник по сбору средств</option>
        <option value="accounts_payable">Сотрудник по оплате счетов</option>
    </select><br><br>
</form>

{% endblock %}







{#    <label for="username">Логин:</label>#}
{#    <input type="text" name="username" required><br><br>#}

{#    <label for="password">Пароль:</label>#}
{#    <input type="password" name="password" required><br><br>#}
{##}
{#    <label for="password_repeat">Повторите пароль:</label>#}
{#    <input type="password" name="password_repeat" required><br><br>#}